Manifest.toml
*.DS_Store
*.zip
*.pdf
*.jld
*.npz
*.ace
*.xyz

# generated docs
# docs/build/
# docs/src/generated/

# data too large for github
examples/lammps_ace_ar/ACE_MD_2body_8deg
examples/lammps_ace_ar/ACE_MD_2body_16deg
examples/lammps_ace_ar/ACE_MD_3body_8deg
examples/doublewell1D/data1
examples/doublewell1D/data2
examples/doublewell1D/figures

examples/log.lammps
